{% import 'macros.j2' as macros -%}
{{ macros.header() }}
#pragma once
#include <gnuradio/{{blocktype}}.hh>
#include <gnuradio/types.hh>

{{ macros.includes(includes) }}

namespace gr {
namespace {{module}} {

template <{% for key in typekeys -%}{{key['type']}} {{key['id']}}{{ ", " if not loop.last }}{%endfor%}>
{{ macros.class_statement(block, blocktype) }}
{
public:
{{ macros.block_args(parameters) }}
    typedef std::shared_ptr<{{ block }}> sptr;
    {{ macros.cotr_statement(block) }};

    {{ macros.implementations(implementations) }}

    {{ macros.callbacks(callbacks) }}    

{{ macros.parameter_declarations(parameters)}} 

};

{%set key1 = typekeys|first %}
{% for opt in key1['options'] -%}
typedef {{block}}<{{ opt['value']}}> {{block}}_{{ opt['suffix'] }};
{% endfor -%}



} // namespace {{ module }}
} // namespace gr
