{% import 'macros.j2' as macros -%}
{% set blocktype = 'sync' if properties|selectattr("id", "equalto", "blocktype")|map(attribute='value')|first == 'sync' else 'general' -%}
{{ macros.header() }}

#include <gnuradio/{{module}}/{{block}}.hh>

namespace gr {
namespace {{module}} {

{{block}}::sptr {{block}}::make(const block_args& args, available_impl impl)
{
    switch (impl) {
    {% for impl in implementations %}
    #ifdef HAVE_{{ impl['id'] | upper }}
    case available_impl::{{ impl['id'] | upper }}:
        return make_{{ impl['id'] | lower }}(args);
        break;
    #endif
    {% endfor %}
    default:
        throw std::invalid_argument(
            "invalid implementation specified");
    }
}

{{block}}::{{block}}(const block_args& args) : {{"sync_block" if blocktype == 'sync' else "block"}}("{{ block }}") {
 {{ macros.ports(ports, parameters) }}
}


} // namespace {{ module }}
} // namespace gr
