{% import 'macros.j2' as macros -%}
{{ macros.header() }}
#pragma once
{% set blocktype_include = blocktype %}
{% if '::' in blocktype_include %}
{% set list = blocktype_include.split('::') %}
{% set blocktype_include = list[(list | length )-1] %}
{% endif %}
#include <gnuradio/{{blocktype_include}}.hh>
#include <gnuradio/types.hh>

{{ macros.includes(includes) }}

namespace gr {
namespace {{module}} {

template <{% for key in typekeys -%}{{key['type']}} {{key['id']}}{{ ", " if not loop.last }}{%endfor%}>
{{ macros.class_statement(block, blocktype) }}
{
public:
{{ macros.block_args(parameters) }}
    typedef std::shared_ptr<{{ block }}> sptr;
    {{ macros.cotr_statement(block) }};

    {{ macros.implementations(implementations) }}

    {{ macros.callbacks(callbacks) }}    

{{ macros.parameter_declarations(parameters)}} 

    virtual std::string suffix() override;

protected:
    {{ macros.message_ports(ports) }} 
    
};

{%if typekeys | length == 1 -%}
{%set key1 = typekeys|first %}
{% for opt in key1['options'] -%}
typedef {{block}}<{{ opt['value']}}> {{block}}_{{ opt['suffix'] }};
{% endfor -%}
{% else -%}
{%set key1 = typekeys|first %}
{%set key2 = typekeys|last %}
{% for opt1 in key1['options'] -%}
{% for opt2 in key2['options'] -%}
typedef {{block}}<{{ opt1['value']+ ", " + opt2['value']}}> {{block}}_{{ opt1['suffix'] }}_{{ opt2['suffix'] }};
{% endfor -%}
{% endfor -%}
{% endif -%}

} // namespace {{ module }}
} // namespace gr
